
<h1>Pagina di Administatore</h1>
 <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contatto">Contatto</a>

 <br />
   <a class="nav-link text-dark"  asp-area="" asp-controller="Home" asp-action="Benvenuti"><img src="images/Erba.png">Benvenuti</img></a>
